*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

nav {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 55px;
	z-index: 10;
}

section {
	width: 100%;
}

#hero {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: rgba(0, 0, 0, 0.35);
	color: white;
	position: relative;
	height: 800px;
}

#hero form {

}

input {
	display: block;
	border: none;
	border-radius: 15px;
	height: 35px;
	width: 300px;
	margin-bottom: 10px;
	font-size: 1.3rem;
	padding: 5px 10px;
}

input[type=submit] {
	background: blue;
	color: white;
}