*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: rgb(255, 153, 0);
  z-index: 10;
}

nav ul {
  list-style: none;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: black;
}

nav a:hover {
  color: grey;
}

main {
  width: 900px;
  margin: 60px auto;
  height: auto;
}

#information {
  width: 300px;
  height: auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: white;
}

#profile-pic {
  background-image: url("/static/imgs/default.jpg");
  background-position: center;
  background-size: cover;
  height: 200px;
}