*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: rgb(255, 153, 0);
  z-index: 10;
}

nav ul {
  list-style: none;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: black;
}

nav a:hover {
  color: grey;
}